[submodule "libs/x86_64"]
	path = libs/x86_64
	url = git@github.com:Codetector1374/x86_64.git
[submodule "libs/acpi"]
	path = libs/acpi
	url = git@github.com:Codetector1374/acpi.git
[submodule "libs/xhci-rs"]
	path = libs/xhci-rs
	url = https://github.com/Pear0/xhci-rs.git
[submodule "libs/usb-host-rs"]
	path = libs/usb-host-rs
	url = https://github.com/Codetector1374/usb-host-rs
